@import "tailwindcss";

/* Gradient text utilities */
.gradient-text-primary {
  background: linear-gradient(90deg, #FF3366 0%, #FF9933 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gradient-text-secondary {
  background: linear-gradient(90deg, #4361EE 0%, #3A0CA3 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* styles/globals.css */
.shadow-xl-dark {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5), 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}

.dark .shadow-xl-dark {
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.5), 0 10px 10px -5px rgba(0, 0, 0, 0.3);
}
/* styles/globals.css menu full width*/
.custom-mega-menu {
  width: 100vw !important;
  max-width: 72rem !important; /* max-w-6xl */
  left: 50% !important;
  transform: translateX(-50%) !important;
}

/* scroll-behavior: smooth; */
html {
          scroll-behavior: smooth;
        }
/* Ensure proper rendering in different browsers */
@supports (-webkit-background-clip: text) or (background-clip: text) {
  .gradient-text-primary,
  .gradient-text-secondary {
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@config "../tailwind.config.js"
